body {
  margin: 0;
  padding: 0;
  padding: 10px 10px 10px 10px;
  font-family: Verdana, sans-serif;
}

#image {
  display: none;

}

#pic:hover {
  cursor: pointer;
}

#inputButton {
   display: none;
}

.rotate {
  transform: rotate(-90deg);
}

.more-rotate {
  transform: rotate(180deg);
}

.userEntry {
   display: inline-block;
   width: 300px;
 }

ul {
  list-style-type: none;

}
