body {
  margin: 0;
  padding: 0;
  padding: 10px 10px 10px 10px;
  font-family: Verdana, sans-serif;
}

#image {
  display: none;

}

#pic:hover {
  cursor: pointer;
}

#inputButton {
   display: none;
}

.rotate-left {
  transform: rotate(0deg);
}

.rotate-right {
  transform: rotate(-90deg);
}

.userEntry {
   display: inline-block;
   width: 200px;
   max-height: 300px;
   padding: 50px 50px 50px 0px;
 }

ul {
  list-style-type: none;
}
