body {
  margin: 0;
  padding: 0;
  padding: 10px 10px 10px 10px;
  font-family: Verdana, sans-serif;
}

#image {
  display: none;

}

#pic:hover {
  cursor: pointer;
}
 #inputButton {
   display: none;
 }
